<section class="form-container">
  
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" class="form">
      <h1>Reactive Form Example :</h1>
      <p>
        <label>First Name :</label>
        <input  type="text" placeholder="First Name" formControlName="firstName" [(ngModel)]="firstName">
      </p>
      <p>
        <label>Last Name :</label>
        <input type="text" placeholder="Last  Name" formControlName="lastName">
      </p>
      <p>
        <label>Email:</label>
        <input type="text" placeholder="Email" formControlName="email">
      </p>
      <p>
        <label>Password:</label>
        <input type="text" placeholder="Password" formControlName="password">
      </p>
      <p>
        <label>Countries:</label>
        <select formControlName="country">
          <option value="India">India</option>
          <option value="USA">USA</option>
          <option value="Japan">Japan</option>
          <option value="Russia">Russia</option>
        </select>
      </p>
      <p>
        <label>Gender: </label>
        <label for="male">Male</label>
        <input type="radio" formControlName="gender" value="male" id="male">
        <label for="female">Female</label>
        <input type="radio" formControlName="gender" value="female" id="female">
        <label for="other">Others</label>
        <input type="radio" formControlName="gender" value="other" id="other">
      </p>
      <div  formArrayName="skills">
        <ng-container  *ngFor="let skill of reactiveForm.get('skills')['controls'];let i=index">
          <input type="text" placeholder="add skill.." formControlName="{{i}}">
          <button mat-button  class="my-button" (click)="removeSkill(i)">delete</button><br>
        </ng-container>
      </div>
  
      <p>
        <button mat-raised-button class="my-button" (click)="addSkill()">Add Skill</button>
      </p>
      <p>
        <button mat-raised-button class="my-button" type="button"  [disabled]="!reactiveForm.valid">Submit</button>
      </p>
  
      
    </form>
  </section>