<mat-form-field appearance="fill">
  <mat-label>Source</mat-label>
  <mat-select [(ngModel)]="selectedSource" name="source" (selectionChange)="disableDest()">
    <mat-option *ngFor="let source of source" [value]="source.value" [disabled]="source.flag">
      {{source.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Destination</mat-label>
  <mat-select [(ngModel)]="selectedDestination" name="destination" (selectionChange)="disableSource()">
    <mat-option *ngFor="let destination of destination" [disabled]="destination.flag" [value]="destination.value">
      {{destination.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field><br>

<button mat-button (click)="submit()">Submit</button><br>
<h3 ></h3>
